.\#*
.build
Build
Debian_CPANTS.txt
MANIFEST
META.*
MYMETA.*
Makefile
Makefile.PL
Makefile.old
MaxMind-DB-Writer-*
README
\#*\#
\#*\#
_build
blib*
c/*.o
config.log
cover_db*
lib/**/*.c
lib/**/*.o
pm_to_blib*
