.\#*
blib*
.build
_build
Build
c/*.o
config.log
cover_db*
cpanfile.snapshot
Debian_CPANTS.txt
lib/**/*.c
lib/**/*.o
local
Makefile
Makefile.old
Makefile.PL
MANIFEST
MaxMind-DB-Writer-*
META.*
MYMETA.*
perltidy.LOG
pm_to_blib*
README
*.swp
.tidyall.d
tidyall.ERR
.tidyallrc
