.\#*
\#*\#
blib*
cover_db*
Build
_build
.build
MANIFEST
META.yml
README
Debian_CPANTS.txt
Makefile.PL
Makefile
Makefile.old
pm_to_blib*
MaxMind-DB-Common/MaxMind-DB-Common-*
MaxMind-DB-Reader/MaxMind-DB-Reader-*
MaxMind-DB-Writer/MaxMind-DB-Writer-*
